#avatar {
    width: 2.3em;
    height: 2.3em;
    border-radius: 2em;
}

#user-avatar {
    width: 2.3em;
    height: 2.3em;
    border-radius: 2em;
}

#avatar_big {
    width: 4.4em;
    height: 4.4em;
    border-radius: 4em;
}

.hidden {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

table, table > tr, td {
    border: solid 1px black;
    margin: 1em;
    padding: 1em;
}